__pycache__
ROSPace_complete
model_training/logs
model_training/tmp
model_training/split-data
model_training/img
model_training/model
model_training/val-data
model_training/test-data
model_training/output_models
dataset/*
!.gitkeep
fdo-integration/workdir/
demo_web/backend/guid_machine_map.json
